html,
body {
  padding: 0;
  margin: 0;
  font-family: url('/fonts/futur.ttf'), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: var(--color-grey-light);
    letter-spacing: 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-grey-light: var(--color-grey-light);
}

